.footer-parte-1 {
    padding: 80px 165px;
    background-image: url(../assets/image/background-red.png);
    display: flex;
    justify-content: center;
    align-items: flex-start; /* ALTERE AQUI */
    color: white;
    gap: 100px;
}

.img-footer {
    display: flex;
    align-items: center;
}
.img-footer img {
    width: 270px;
}

.h3-area {
    font-size: 20px;
    margin-bottom: 20px;
}

.p-area {
    font-size: 16px;
}