/* Montserrat Light */
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/static/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Montserrat Italic (Regular Italic) */
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/static/Montserrat-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Montserrat SemiBold */
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Montserrat Bold */
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Montserrat BoldItalic */
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/static/Montserrat-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Montserrat ExtraBold */
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/static/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Montserrat ExtraBoldItalic */
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/static/Montserrat-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* Montserrat BlackItalic */
@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat/static/Montserrat-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}



body {
    font-family: var(--default-font);
    background-color: var(--default-background);
    scroll-behavior: smooth;
}