.unidade {
    padding: 0 165px;
}

.unidade-mix {
    display: flex;
    flex-direction: column;
    color: white;
    width: 670px;
}

.unidade-mix h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

.unidade-mix p {
    font-size: 29px;
    font-weight: var(--font-bold);
}

.unidade-parte-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.unidade-img  {
    padding-left: 90px;
}

.unidade-img img {
    width: 100%;
    height: auto;
    max-width: 800px;
}

.p-unidade {
    margin: 10px 0;
}

.imagens-unidade-img {
    width: 250px;
}

.imagens-unidade {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 860px;
    margin-bottom: 30px;
}

.h2-unidade {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}
